* {
    margin: 0;
    padding: 0;
}

body {
    height: 1500px;
}

header {
    height: 50px;
    width: 100%;
    border-top: 5px solid rgb(69, 250, 151);
    background-color: white;
    z-index: 1000;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    box-shadow: 5px 5px 5px 5px rgb(230, 229, 229);
}

.left {
    display: inline-flex;
    flex-basis: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    flex-basis: 700px;
    flex-direction: row;
    width: 50px;
    text-align: center;
    position: relative;
}

a {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    color: gray;
}

a:hover {
    background-color: rgb(69, 250, 151);
    color: white;
}

.phone {
    display: flex;
    justify-content: center;
    align-items: right;
    flex-basis: 300px;
    padding-top: 13px;
}
img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    float: left;
}

.container {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    margin: 30px;
    border: 1px solid rgb(196, 188, 188);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid lightgray 1px;
    text-align: justify;
}

p {
    color: grey;
}

.numar {
    padding-top: 12px;
    text-align: center;
    font-size: 20px;
    color: lightyellow;
    height: 37px;
    width: 50px;
    background-color: rgb(60, 60, 199);
    border-radius: 50%;
}